<div class="driving">
  <div class="col left">
    <div class="vert-center">
      <table>
        <tr>
          <th>Avg Speed</th>
          <td>56.4 kph</td>
        </tr>
        <tr>
          <th>ETA</th>
          <td>3:45 pm (6 min)</td>
        </tr>
        <tr>
          <th>Distance</th>
          <td>12.1km / 13km</td>
        </tr>
        <tr>
          <th></th>
          <td></td>
        </tr>
      </table>
      <h4>
        You were up until <span class="blued">1:24am</span> this morning. If you're feeling tired pull over and <span class="blued">take a nap.</span>
      </h4>
    </div>
  </div>

  <div class="col right">
    <h3>In <span class="blued impact">400m</span></h3>
    <img src="img/right_arrow.png"></img>
    <h3>Turn right onto <span class="blued impact">Kenmore St</span></h3>
  </div>
</div>