<div class="running">
  <div class="col left">
    <h1 id="message"></h1>

    <h2>You have done <span id="current-measure"></span> <span class="units"></span> today
    </h2>

    <h2>Your target is <span id="target-measure" class="pie-target"></span> <span class="units"></span>
    </h2>

    <h3>
      <span class="greyed">Did you know?</span> Running helps to relieve stress, boost confidence, and fight depression.
    </h3>
  </div>

  <div class="col right">
    <svg id="pie-chart"></svg>
  </div>
</div>